@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --black: #18181d;
  --dark-gray: #64646a;
  --light-gray: #eeeff1;
  --off-white: #f3f4f5;
  --white: #ffffff;
}

.h-cover {
  height: calc(100vh - 75px);
}

.black-button {
  background: var(--black);
  color: var(--white);
  border-radius: 20px;
  padding: 8px 16px;
}
.white-button {
  background: var(--white);
  color: var(--black);
  border-radius: 20px;
  padding: 8px 16px;
}

.cover-round {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
